*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.mainwindow{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.tablearound{
    border:2px solid white;
    display:flex;
    width:305px;
    flex-wrap:wrap;
}

.cell{
    display:flex;
    border:1px solid red;
    height:100px;
    width:100px;
    
}

.redCell{
    background-color:red;
    border-color:black;
}